package $daoPackage;

import com.jd.jw.skeleton.util.sql2.SqlSelect;
import com.jd.jw.skeleton.util.sql2.SqlUpdate;
import com.jd.jw.skeleton.util.sql2.SqlDelete;

import java.util.List;
import java.util.Map;
import org.apache.ibatis.annotations.Param;

import $domainPackage.$domain;

/**
 * created by lixizhong, at ${now}.
 */
public interface $dao {
	/**
	 * 插入单条数据，并将生成的ID set到bean中
	 */
	int insert($domain $domainEntity);
	
	/**
	 * 批量插入，生成的ID不能回传到list中的bean中
	 */
	int batchInsert(@Param("list") List<$domain> list);

    /**
    * select单条数据，如果不能确保查询条件只返回1条数据，请调用SqlSelect的limit(1)方法
    */
    $domain load(@Param("sql") SqlSelect sql, @Param("$domainEntity") $domain $domainEntity);

    $domain loadMap(@Param("sql") SqlSelect sql, @Param("$domainEntity") $domain $domainEntity);

    /**
    * 列表查询
    */
    List<$domain> list(@Param("sql") SqlSelect sql, @Param("$domainEntity") $domain $domainEntity);

    List<Map<String, Object>> listMap(@Param("sql") SqlSelect sql, @Param("$domainEntity") $domain $domainEntity);
	
	/**
	 * 查询符合条件的记录条数
	 */
	int count(@Param("sql") SqlSelect sql, @Param("$domainEntity") $domain $domainEntity);

    /**
    * 更新
    */
	int update(@Param("sql") SqlUpdate sql, @Param("$domainEntity") $domain $domainEntity);

    /**
    * 删除
    */
	int delete(@Param("sql") SqlDelete sql, @Param("$domainEntity") $domain $domainEntity);
}