package ${domainPackage};

/**
 * created by lixizhong, at ${now}.
 #if($table.comment)
 * $table.comment
 #end
 */

import java.io.Serializable;

public class ${domain} implements Serializable {

	private static final long serialVersionUID = 1L;

    #* 表名 *#
	public static final String tableName = "`$table.name`";

    #* 属性列表 *#
	#foreach($field in $table.fieldList)
    /**
     * $!{field.comment}  #if(${field.defaultValue})默认值: ${field.defaultValue}#end $!{empty}
     */
	private $util.javaTypeName($field.javaType) $util.camelName($field.name);
    #end
    #* 数据库字段名（带表名前缀） *#
	public static abstract class Columns {
		#foreach($field in $table.fieldList)
		public static final String $util.camelName($field.name) = "`$table.name`.`$field.name`";
		#end
		
		public static final String All =
			#foreach($field in $table.fieldList)
                #if($foreach.hasNext)
                "`$table.name`.`$field.name`, " +
                #else
                "`$table.name`.`$field.name`";
                #end
            #end
	}
    #* 数据库字段名（不带表名前缀） *#
    public static abstract class PureColumns {
        #foreach($field in $table.fieldList)
        public static final String $util.camelName($field.name) = "`$field.name`";
        #end

        public static final String All =
            #foreach($field in $table.fieldList)
                #if($foreach.hasNext)
                "`$field.name`, " +
                #else
                "`$field.name`";
                #end
            #end
    }
    #* 属性名称 *#
	public static abstract class Props {
		#foreach($field in $table.fieldList)
		public static final String $util.camelName($field.name) = "$util.camelName($field.name)";
		#end
	}
    #* 更新字段名 *#
	public static abstract class Updates {
		#foreach($field in $table.fieldList)
		public static final String $util.camelName($field.name) = "`$field.name` = #{${domainEntity}.${util.camelName($field.name)}}";
		#end
	}
    #* where条件 *#
	public static abstract class Comparations {
		#foreach($field in $table.fieldList)
		public static final String $util.camelName($field.name)(String op) {
            return "`$table.name`.`$field.name`" + op + "#{${domainEntity}.${util.camelName($field.name)}}";
		}
		#end
	}

	#* get set 方法 *#
	#foreach($field in $table.fieldList)
	/**
	 * $!{field.comment}
	 #if(${field.defaultValue})
     * 默认值: ${field.defaultValue}
     #end
	 */
	public $util.javaTypeName($field.javaType) $util.getterMethodName($field.name, $field.javaType) {
		return $util.camelName($field.name);
	}
	
	/**
	 * $!{field.comment}
     #if(${field.defaultValue})
     * 默认值: ${field.defaultValue}
     #end
	 */
	public void $util.setterMethodName($field.name, $field.javaType) {
		this.$util.camelName($field.name) = $util.camelName($field.name);
	}
	
	#end
}