package $servicePackage;

import java.util.List;

import $domainPackage.$domain;

/**
* created by lixizhong, at ${now}.
*/
public interface $service {
	public int insert($domain $domainEntity);

	public int batchInsert(List<$domain> list);
}