package $serviceImplPackage;

import java.util.List;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.stereotype.Service;
import $servicePackage.${service};
import $daoPackage.$dao;
import javax.annotation.Resource;

import $domainPackage.$domain;

/**
 * created by lixizhong, at ${now}.
 */
@Service("$serviceEntity")
public class $serviceImpl implements $service {

    private static final Logger logger = LoggerFactory.getLogger(${serviceImpl}.class);

	@Resource
	private $dao $daoEntity;

	public int insert($domain $domainEntity) {
		return ${daoEntity}.insert($domainEntity);
	}

	//public int batchInsert(List<$domain> list) {
	//	return ${daoEntity}.batchInsert(list);
	//}
}