package $servicePackage;

import java.util.List;

import $domainPackage.$domain;

/**
* created by lixizhong, at ${now}.
*/
public interface $service {
	int insert($domain $domainEntity);
	//int batchInsert(List<$domain> list);
}